<div class="d-flex justify-content-center mt-4">
  <h2>Canciones</h2>
</div>

<div class="d-flex justify-content-center mt-4 align-items-end">
  <p class="me-4">¿Desea compartir su canción?</p>
    <%= link_to 'Subir Cancion',new_song_path, class: "btn btn-info"%>
  
</div>

<table class="table table-dark table-striped table-hover mt-4">
  <thead>
    <tr>
      <td>Nombre</td>
      <td>Autor</td>
      <td></td>
    </tr>
  </thead>
  <% @songs.each do |song|%>
    <tr>
      <td><%= song.name%></td>
      <td><%= song.artist.username%></td>
      <td><%= link_to 'Ir a Cancion', song, class:"btn btn-info"%></td>
    <tr>
  <%end%>
</table>