<div class="d-flex justify-content-center mt-4">
  <h2>Subir Cancion</h2>
</div>


<%= render 'form', song: @song %>


<div class="d-flex justify-content-center mt-4">
  <%= link_to 'Regresar a Inicio', root_path, class:"btn btn-info"%>
</div>