@import "bootstrap";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #e8eef2;
}

.navbar{
  background-color: #272838;
}
.header{
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header a {
  color: #e8eef2;
}
.user__menu{
  background-color: #272838;
}
