@import "bootstrap";


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #e8eef2;
}
.navbar{
  background-color: #272838;
}

.user__menu{
  background-color: #272838;
}
.sidebar{
  background-color: #272838;
  color: #e8eef2;
}
.sidebar__menu {
  list-style: none;
  text-decoration: none;
  margin: 0px;
}
.sidebar__menu li a {
  color: #e8eef2;
  text-decoration: none;
}
.sidebar__menu li a:hover{
  color: #8377d1;
}

