<div class="nested-fields row  justify-content-center align-items-end">
  
  <div class="col-6">
    <%= f.input :song_id,label:"Cancion", collection: Song.all,input_html: {class:'js-example-basic-single'},
    label_html:{class:"form-label"}%>
  </div>
  <div class="col-2">
    <%= link_to_remove_association "Eliminar", f, class: "btn btn-danger" %>
  </div>
<%= f.input :_destroy, as: :hidden%>
</div>
<script>


// In your Javascript (external .js resource or <script> tag)
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});


</script>