<div class="nested-fields row  justify-content-center align-items-end">
  
  <div class="col-6">
    <%= f.input :song_id,label:"Cancion", collection: Song.all,input_html: {class:"form-control"},
    label_html:{class:"form-label"}%>
  </div>
  <div class="col-2">
    <%= link_to "Remove", '#', class: "remove_fields btn btn-danger" %>
  </div>
<%= f.input :_destroy, as: :hidden%>
</div>
