<div class="d-flex justify-content-center mt-4">
  <h1>Editar Información de la Playlist</h1>
</div>

<%= render 'form', playlist: @playlist %>

<div class="d-flex justify-content-center mt-4">
<%= link_to 'Show', @playlist, class:"btn btn-info me-4" %> 
<%= link_to 'Back', playlists_path, class:"btn btn-info" %>
</div>
