<div class="d-flex justify-content-center mt-4">
  <h1>Crear Playlist</h1>
</div>

<%= render 'form', playlist: @playlist %>

<div class="d-flex justify-content-center mt-5">
  <%= link_to 'Tus Playlists', playlists_path, class: "btn btn-info" %>
</div>
