<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid header">
    <%= link_to 'Spotitwo', root_path, class: "navbar-brand"%>
    <% if user_signed_in? %>
        <div>
          
        </div>
    <%else%>
        <div>
        <button class= "btn"><%=link_to 'Sign Up',new_user_registration_path%></button>
        <button class= "btn"><%=link_to 'Log In',new_user_session_path%></button>
        </div>
    <%end%>
  </div>
</nav>